/* Body. */

body {    
        
}

/* Links. */

a {
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Window. */

#window {    
    /*border: #000 1px solid;*/
    background-color: #fff;
    margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width:98%
}

/* Page Header. */

#header {
	  /*border: #000 1px solid;*/
    margin-top: 10px;
 	 margin-right: 20px;
  	margin-bottom: 0px;
  	margin-left: 20px;
}
h1.headerText{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align:center;
	font-size:40px
}

div.logo{
text-align:center;

}

/* Content. */

#contentLogin {
  background-color: #F8F8FF;
  border: 1px solid #888;
    border-radius:3px;
  margin-top: 30px;
  margin-right: 530px;
  margin-bottom: 30px;
  margin-left: 530px;
}

p.welcome {
    font-size: 16px;
}

/* Forms. */

form {
  text-align:center;
}

div.form-group {
    padding-top: 1.5em;    
}


div.form-group label {
    font-weight: bold;
}


div.button {
    clear: both;
    text-align:center;
}

input, select, textarea  {
    background-color: #f4f4f4;
}

/* Error messages. */

div.t-error ul {
	font-weight: bold;
	margin-left: 20px; 
}


/* Footer. */

#footer {
	/*border: #000 1px solid;*/
	text-align:center;
}
