* { 
	margin: 0;
	padding: 0;
}

html, body {    
    height: 100%;  
}

#wrap { 
	min-height: 100%;
 }

#main { 
	width:98.96%;
 	padding-bottom:50px;
  	text-align:center; 
  }
  
	.container-full {
	  margin: 0 auto;
	  width: 100%;
	}
	
#headernav{
		padding: 2px 15px;
		margin-bottom:7px;
		background:linear-gradient(#6D6E87, #B5B6D0);
		width:102%;
		font-weight:bold;
		color:white;
		height:25px;
	}


	HTML>BODY
	.breadcrumb{
		background-color:transparent;
		height:25px;
		margin-bottom:-4px;
		padding: 2px 15px;
		line-height: 1.17;
	}

	HTML>BODY
		.breadcrumb > .active{
		color:#E4E7FA;
	
	}
	HTML>BODY
	.breadcrumb > li > a{
		color:white;


	}
	
div.menuwindow {	
	margin-top:-10px;
}

#footer { 
	font-size:10px;
	margin-top: -30px; 
	/* altura en px del footer con valor negativo */ 
	height: 30px; /* Altura del Footer en px*/
	clear: both;
	background-color: #F8F8FF;
	padding-left:20px;
}

	HTML>BODY
		.navbar-nav > li > .dropdown-menu{
	} 
	
	.dropdown:hover .dropdown-menu {
	    display: block;
	 }
	
	HTML>BODY
	a.dropdown-toggle{
		max-height:20px;
	}
	
	HTML>BODY
	.dropdown-menu .divider{
		margin:0px;
	}


/* --------------------- Menu horizontal (desplegable)---------------------------*/

HTML > BODY .navbar {
	min-height:20px;	
}
	
HTML > BODY .navbar-default {
	min-height:20px;	
}
	
HTML > BODY .navbar-nav {
	min-height:20px;
}

HTML > BODY .navbar-nav > li > .dropdown-menu {
} 

HTML > BODY .navbar-nav > li > a {
	height:20px;
	padding-top: 0px;
	padding-bottom: 0px;
}

HTML > BODY .navbar-nav > li > .dropdown-menu > li > a {
	max-height:19px;
	font-size: 12.5px;	
	padding:3px;
	margin:3px;
	line-height:11px;
}
	

HTML > BODY .dropdown-menu .divider {
	margin:0px;
}
		
HTML > BODY .dropdown-menu > li > a:hover {
	background-color: #CACACA;
} 

HTML > BODY li.dropdown {
	min-height:20px;
}

HTML > BODY a.dropdown-toggle {
	max-height:20px;
}

/*Submenu*/

	.dropdown-menu .sub-menu {
	    left: 100%;
	    position: absolute;
	    top: 0;
	    visibility: hidden;
	    margin-top: -1px;
	    
	}
	
	.dropdown-menu li:hover .sub-menu {
	    visibility: visible;
	    font-size: 12.5px;
	}
	
	.dropdown-menu .sub-menu > li > a{
		max-height:19px;
		padding:3px;
		margin:3px;
		line-height:11px;
	}
	
	.right-caret {
	  display: inline-block;
	  width: 0;
	  height: 0;
	  margin-left:10px;
	  vertical-align: middle;
	  border-left: 4px solid;
	  border-bottom: 4px solid transparent;
	  border-top: 4px solid transparent;
	}
	
.menu > .col-md-5 > .btn-group > .btn {
	 margin-top:10px;
	 padding: 0px 0px;
	 display:table-cell;  /*Propiedad obligatoria*/
	 height:30px; 
	 line-height: 0;	 
}

HTML>BODY .btn-menu {
	width:270px;
	height:30px; 
	line-height: 0;
}

.btn-text {
	width:270px;
}

.btn-option {
	width:30px
}


/* -------------------- SIDEBAR ------------------- */

.sidebar{
	padding: 15px 22px 10px 20px;
	margin-left:20px;
	width:180px;
	margin-right:40px;
	border: 1px solid #e7e7e7;
	background-color: #f8f8f8
}

HTML>BODY
.input-group-sm > .form-control{
	margin:5px;
	height:20px;
}

HTML>BODY
.input-group-sm > .input-group-btn > .btn {
	margin:5px;
	height:20px;
}
.expertbutton{
	margin-top:-12px;
}
HTML>BODY
.btn-image{
	height:50px;
	weight:70px;
	margin-top:12px;
	background-color: #f8f8f8;
	border: 0px solid #e7e7e7;
}
.zoom{
	margin-top:-7px;
}

.expert > .input-group {
margin-top: -4px;
margin-bottom: -4px;
}

.zoom:hover {
    cursor: pointer;
    transform:scale(1.10);
    -ms-transform:scale(1.10); /* IE 9 */
    -moz-transform:scale(1.10); /* Firefox */
    -webkit-transform:scale(1.10); /* Safari and Chrome */
    -o-transform:scale(1.10); /* Opera */
}

/*FAVORITES*/
.panel-favorites{
text-align:left;
}
HTML>BODY
.option-heading{
padding:5px 7px;
font-weight:bold;
}
HTML>BODY
.suboption-item{
padding:0px;
padding-left:15px;
margin-bottom:2px;
font-size:14px;
}
HTML>BODY
.list-group-item:last-child{
margin-bottom:3px;
width:300px;
}

HTML>BODY
.suboptions-group{
margin-bottom:0px;
padding:5px;
}

/*CLOCK AND DATE*/
@font-face {
	font-family: 'digi';
	src: url('../fonts/DS-DIGII.TTF');
}
div.bodyclock {
	font-family: 'digi';
	font-size: 50%;
	margin:40px;
	margin-bottom:4px;
	margin-top:4px;	
}

div.clock {
	background: white;
	font-size: 23px;
	color: #707070;
	width:90px;
	/* Centering everything */
	border: 2.5px solid rgba(16, 18, 85, .5);
	border-radius:5px; 
	background-image: linear-gradient(#f0f0f0, white);
	
}
div.date{
font-size:21px;
font-family: 'digi';
color: #707070;
	
border: 2.5px solid rgba(16, 18, 85, .5);
	border-radius:5px; 
	background-image: linear-gradient(#f0f0f0, white);
	margin:35px;
	margin-bottom:4px;
	margin-top:5px;	
	width:100px;

}

/* ---------------- Links - Title -------------------*/

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@font-face {
	font-family: 'trench';
	src: url('../fonts/trench.otf');
}	

h1.info{
	font-size:60px;
	font-family: 'trench';
	font-weight: bold;}

/* ---------------- row - col -------------------*/
	div.row30{
	padding-top: 30px;
	}
	div.row60{
	padding-top: 60px;
	}
	div.row90{
	padding-top: 90px;
	}
	div.row120{
	padding-top: 120px;
	}
	div.row150{
	padding-top: 150px;
	}	
	div.row180{
	padding-top: 180px;
	}
	div.row210{
	padding-top: 120px;
	}	
	div.row240{
	padding-top: 120px;
	}	
		
		
	div.row10{
	padding-top: 10px;
	}
	
	div.row5{
		padding-top: 5px;
	}	
	
 	div.col-md-05 {
    	width: 4%;
     	position: relative;
  		min-height: 1px;
	    padding-right: 15px;
		padding-left: 15px;
  		float: left;
  	}
  	
  	 div.col-md-5px {
    	width:5px;
  		float: left;
  		padding-left:0px;
  		padding-right:0px;
  		
  	}
 
  	 div.col-md-2px {
    	width:2px;
  		float: left;
  		padding-left:0px;
  		padding-right:0px;
  	}
  	
  	 div.col-md-200px {
    	width:200px;
  		float: left;
  		height:30px;
  		padding-top:0px;
  	}
  	
  	div.col-md-02 {
    	width: 2%;
     	position: relative;
  		min-height: 1px;
	    padding-right: 10px;
		padding-left: 10px;
  		float: left;
  	}		
  	div.col-md-01 {
    	width: 1%;
     	position: relative;
  		min-height: 1px;
	    padding-right: 4px;
		padding-left: 4px;
  		float: left;
  	}		

	div.language{
		margin-top:20px;
		margin-left:80px;
	}
	
	div.logo{
	text-align:center;
	}

/* ----------- Configuration ------------ */
/*Para indicar la opcion seleccionada de los nav-tabs*/
HTML>BODY
.nav > li.active > .top-tab-text{
	width:220px;
	font-weight:bold;
	font-size:14px;
	height: 30px;
	margin-top: 0px;
	padding: 5px;
	background-color:#818AB7;
}

HTML > BODY .nav-tabs > li.active > a.sub-tab-text {
	font-style:normal;
	border-bottom:0;
	font-weight:bold;
	color:black;
		background:#FFFFFF;

}
/*top-tab y sub-tab*/
HTML>BODY
.nav > li> .top-tab-text{
	width:220px; height:26px;
	padding:5px;
	font-weight:bold;
	font-size:13px;
	border:1px solid #D0D2D4;
	margin-top: 2px;

}

.top-tab{
	width:220px; height:30px;
	padding-left:7px;
	margin-right:2px;
}

.sub-tab{
	width:147px; height:25px;
	margin-right:2px;
	margin-top:2px;
}

.tab-subcontent{

 height: 620px;

}
HTML > BODY .nav-tabs > li > a.sub-tab-text {
	width:147px; height:25px;
	font-style:italic;
	font-size:12px;
	padding:5px;
	margin-left:2.5px;
	border: 1px solid #D0D2D4;
	color:grey;
	 background:#F8F8F8;

}


HTML > BODY .nav-tabs > li> a.top-tab-text {
	border-top: 1px solid #D0D2D4;
	border-left: 1px solid #D0D2D4;
	border-right: 1px solid #D0D2D4;
}

/*Textos*/
h6.text{
	font-size:14px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: bold;
}

h5.text{
	font-size:12px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: bold;
}

h4.text{
	font-size:10px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
}

h5.textRowBorder {
	font-size:14px;
	text-align:center;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: bold;
}

.textRowBorder {
	font-size:12px;
	text-align:left;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight: bold;
	padding:0px 7px;
	margin-bottom:5px;
	border-bottom:1px solid #d0d0d0;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
	background-color:#818AB7;
	color:white;
}


HTML > BODY .input-group-addon {
	padding-left: 0px;
	padding-right: 0px;
	font-size: 12px;
	text-align:right;
	border:none;
	width:auto;
	background-color:transparent;
}

HTML > BODY .checkcontrol {
	height: auto;
	margin: 5.8px -2px 0px;
	width:15px;

}

HTML > BODY .bottoncontrol {
	height: 17px;
	padding: 0px 0px 0px;
}


HTML > BODY .textcontrolR{
	height: auto;
	font-size: 13px;
  	padding: 1px 1px;
  	margin-top:2px;
  	text-align:right;
  	float:right;
}

HTML > BODY .textcontrolL{
	height: auto;
	font-size: 13px;
  	padding: 1px 1px;
  	margin-top:2px;
  	text-align:left;
  	float:right;
}

/*textbox color*/
HTML > BODY .textcolor{
	height: 20px;
	width:50px;
	font-size: 13px;
  	padding: 1px 1px;
  	margin-top:2px;
  	text-align:left;
  	float:right; 
	border-top: 1px solid #D0D2D4;
	border-left: 1px solid #D0D2D4;
	border-right: 1px solid #D0D2D4;
}

/*Button color*/
HTML > BODY .input-group-addon:not(:first-child):not(:last-child),
HTML > BODY .input-group-btn:not(:first-child):not(:last-child),
HTML > BODY .input-group .form-control:not(:first-child):not(:last-child) {
	border-top: 1px solid #D0D2D4;
	border-left: 1px solid #D0D2D4;
	border-right: 1px solid #D0D2D4;
	height: 24px;
}

HTML > BODY .pick-a-color-markup .input-group-btn .color-dropdown {
	padding: 1px 1px;
	height: 24px;
	border-top: 1px solid #D0D2D4;
	border-left: 1px solid #D0D2D4;
	border-right: 1px solid #D0D2D4;
}

HTML > BODY .pick-a-color-markup .color-preview {
	height: 10px;
	width: 10px;
	border-top: 1px solid #D0D2D4;
	border-left: 1px solid #D0D2D4;
	border-right: 1px solid #D0D2D4;
}

HTML > BODY .pick-a-color-markup .color-preview.current-color {
	margin-bottom:0px;
}

HTML > BODY .jumbotron {
	padding: 2px 2px;
	background-color:#ccc;
}

HTML > BODY input.panelcheck {
	margin-right:6px;
}

input.panelchecksep {
	margin-right:16px;
}

span.scheme {
	font-weight:bold;
	margin-right:9.5px;
	padding-left:2px;
}

span.schemesep {
	margin-right:17.5px;
	font-weight:bold;
	padding-left:3px;
}

input.radiomap{
	margin-right:10px;
}

div.radiogroup {
	margin-left:10px;
	border: 1px solid #eee;
	background-color: #F8F8FF;
	border-radius:5px; 
}

form.formchecks {
	margin-right:20px;
	margin-left:20px;
}

div.map {
	border: 1px solid #eee;
	background-color: #F8F8FF;
	border-radius:5px; 
}

.rowBorder {
	border: 1px solid #d0d0d0;
	margin-bottom:5px;
	-webkit-border-radius: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
HTML>BODY
.label-general{
	margin-bottom: 3px;
}

/*DATATABLES */
HTML>BODY
ul.ColVis_collection{
	width:250px;
}

.dataTables_filter{
	float:left;
	padding-top:5px;
}
.top{
	margin-top:0px;
padding-right:10px;
padding-left:10px;
}

HTML>BODY
.modal-footer-center{
	text-align:center;
	padding: 19px 20px;
	margin-bottom: 0px;
}

.even { background-color: #f8f8f9;}
.table-head{
	background-color:#f8f8f8;	
}
/* Error messages. */

HTML>BODY DIV.t-error             { border:none; }
BODY div.t-error div.t-banner    {background-color:inherit;  color:red;}
BODY div.t-error ul          { border:none; background-color: inherit; font-weight:bold; list-style: none; }
BODY div.t-error li          {border:none; text-align: center; font-weight: normal; }

/* Forms. */

form.loginform {
	background-color: #F8F8FF;
  	border: 1px solid #888;
    border-radius:3px;    
  	text-align:center;
  	padding: 10px 50px 10px 50px;
}

div.form-group {
    padding-top: 1.5em;    
}

div.form-group label {
    font-weight: bold;
}

div.button {
    clear: both;
    text-align:center;
}

input, select, textarea  {
    background-color: #f4f4f4;
}

/* Error messages. */
.tjq-error-popup{
	font-size:10px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-weight:bold;
	display:block;
}

HTML>BODY DIV.t-error {
	border:none;
	}
BODY div.t-error div.t-banner {
	background-color:inherit;
	color:red;
}

BODY div.t-error ul {
	border:none;
	background-color: inherit;
	font-weight:bold;
	font-size:50px;
	list-style: none;
}
BODY div.t-error li {
	border:none;
	text-align: center; 
	font-weight: normal;
}

HTML>BODY
.alert-numeric{
position: absolute;
width: 898px;
padding:8px;

}

HTML>BODY
.alert-alphabetic{
position: absolute;
width: 898px;
padding:8px;
}

HTML>BODY
.alert-float{
position: absolute;
width: 898px;
padding:8px;
}

HTML>BODY
.alert-numeric1_3{
position: absolute;
width: 898px;
padding:8px;
}

HTML>BODY
.alert-porcent{
position: absolute;
width: 898px;
padding:8px;
}

HTML>BODY
.alert-monExt{
position: absolute;
width: 898px;
padding:8px;
}

HTML>BODY
.alert-date{
position: absolute;
width: 898px;
padding:8px;
}

HTML>BODY
.table > tbody > tr > td{
	padding:0px;
}